<!-- Переписать под бэм лучше чем есть сейчас -->
<div class="footer">
  <div class="fotter__address">Харьков, пр. Победы 55к</div>
  <div class="footer__social-networks">
    <a href="#" class="fotter__link">YouTube</a>
    <a href="#" class="fotter__link">Facebook</a>
    <a href="#" class="fotter__link">Instagram</a>
  </div>
</div>