<div class="menu">
  <!-- <div class="menu__container"> -->
    <div class="menu__logo logo">
      <div class="logo__icon">
        <svg
          width="23"
          height="21"
          viewBox="0 0 23 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M22.0695 1.03186V16.5046C22.0695 17.0719 21.6061 17.5346 21.0365 17.5361C18.6347 17.5418 14.6107 18.0424 11.8347 20.9474V9.61184H15.3541V8.10696H11.8347V4.75495C11.8347 4.56261 11.8837 4.38193 11.9765 4.23241C14.255 0.563215 18.6333 0.00572827 21.0404 0H21.043C21.3154 0 22.041 0.0712532 22.041 0.0712532C22.041 0.0712532 22.041 0.0712305 22.0695 1.03186Z"
            fill="black"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3.71933e-05 1.03446V16.546C3.71933e-05 17.1148 0.464607 17.5786 1.03566 17.5801C3.44349 17.5858 7.47755 18.0877 10.2605 21V9.63597H6.73227V8.12731H10.2605V4.76689C10.2605 4.57407 10.2113 4.39293 10.1184 4.24304C7.83418 0.564629 3.44485 0.00574265 1.03167 0H1.02914C0.756022 0 0.0285959 0.0714321 0.0285959 0.0714321C0.0285959 0.0714321 0.0285959 0.0714094 3.71933e-05 1.03446Z"
            fill="black"
          />
        </svg>
      </div>
      <div class="logo__text">Евангельская Жизнь</div>
    </div>
    <div class="menu__list"> 
      <% for(var i=0; i<menu.length;i++) {%>
        <a class="menu__item <%= menu[i].location === location ? 'menu__item--active' : '' %>" href="<%= menu[i].location %>"><%=menu[i].title %></a>
      <%} %>
    </div>
    <div class="menu__control">
      <button class="menu__button">?</button>
    </div>
  <!-- </div> -->
</div>