.event {
  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    filter: brightness(60%);
  }

  &__date {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__day {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
  }

  &__month {
    font-size: 11px;
    font-weight: 600;
    color: #ffffff;
  }

  &__schedule {
    
  }
}

.schedule {
  &__description {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #EEEEEE;
  }

  &__title {
    width: 70%;
    font-size: 22px;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 19px;
  }

  &__time {
    font-size: 22px;
    font-weight: 400;
  }
}

.schedule > .schedule__description:last-child {
  border-bottom: none;
}